doctype 5
html(ng-app='app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-slider.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA-sIjFbtm0d9iao79i8fN7ibfRLqUUBlw&sensor=false')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js")
    script(type='text/javascript', src='javascripts/angular-slider.min.js');
    script(type='text/javascript', src='/javascripts/maps.js')
  body
    block content
